/* contact button */

.contact__btn{
    color: #fff;
    background-color: #000d6b;
    padding: 6px 8px;
    border-radius: 15px;
    border: none;
    transition: all 0.3s;
}
.contact__btn:hover{
    color: #000d6b;
    background-color: #fff;
    
}

.social__link-icon {
    text-decoration: none;
    color: #000d6b;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}

.social__link-icon:hover::after {
    content: 'connect with us';/* Show the content from data-tooltip as the tooltip text */
    position: absolute;
    bottom: 100%; /* Position the tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background: #000d6b;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s; /* Add a transition for the tooltip visibility */
}

.social__link-icon:hover::after {
    opacity: 1;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .contact__btn {
        margin-bottom: 40px;
        font-size: 0.8rem;
    }
}
