.footer {
    background: #000d6b;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  
  .footer__logo i {
    color: #fff;
    font-weight: 400;
  }
  
  .footer__logo span {
    color: #fff;
    font-weight: 500;
  }
  
  .footer__logo-content {
    color: rgba(255, 255, 255, 0.715);
    margin-top: 15px;
    line-height: 30px;
  }


  /* quick links */

  .quick__link {
    border: none !important;
    background: transparent !important;
  }
  
  .quick__link a {
    color: rgba(255, 255, 255, 0.715);
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
  }
  
  .quick__link a:hover {
    color: #f9a826;
  }